<div class="container">

    <h1>Register</h1>

    <input ng-model="model.user.username"
           type="text"
           class="form-control"
           placeholder="Username"/>

    <input ng-model="model.user.password"
           type="password"
           class="form-control"
           placeholder="Password"/>

    <input type="password"
           class="form-control"
           placeholder="Verify Password"/>

    <input ng-model="model.user.firstName"
           type="text"
           class="form-control"
           placeholder="First Name"/>

    <input ng-model="model.user.lastName"
           type="text"
           class="form-control"
           placeholder="Last Name"/>

    <input ng-model="model.user.email"
           type="text"
           class="form-control"
           placeholder="Email"/>

    <input ng-model="model.user.phone"
           type="text"
           class="form-control"
           placeholder="Phone"/>

    <a ng-click="model.register()"
       class="btn btn-primary btn-block">Register</a>

    <a class="btn btn-danger btn-block"
       href="#/login">Cancel</a>

</div>