
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-header col-xs-10 pull-left no-left-margin">
            <a class="navbar-brand pull-left">
                Details
            </a>
        </div>

        <div class="navbar-text col-xs-1 pull-right">

            <a href="#/user/{{model.userId}}"
               class="navbar-link pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>

        <div class="navbar-text col-xs-1 pull-right">

            <a href="#/user/{{model.userId}}/search"
               class="navbar-link pull-right">
                <span class="glyphicon glyphicon-search"></span>
            </a>

        </div>


    </div>
</nav>


<div class="container">

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <h2>{{model.item.name}}</h2>

    <h3>Nutrients per ounce:</h3>

    <div ng-repeat="nutrient in model.item.nutrients">
        <h3>{{nutrient.name}}: {{nutrient.measures[3].value}}{{nutrient.unit}}</h3>
    </div>

    <a class="btn btn-primary btn-block top-margin bottom-margin"
       ng-click="model.addFavoriteForUser()">Add Favorite</a>

</div>