
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-header col-xs-12 pull-left no-left-margin">
            <a class="navbar-brand pull-left">
                Details
            </a>
            <a href="#/user/{{model.user._id}}/search"
               class="navbar-link pull-right">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="#/user/{{model.user._id}}"
               class="navbar-link pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>


<div class="container">

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <h2>{{model.item.title}}</h2>

    <h3>Details:</h3>
    <p>{{model.item.details}}</p>

    <h3>Stats:</h3>
    <p>Calories: {{model.item.calories}}</p>

    <p>Vitamins: {{model.item.vitamins}}</p>

    <p>Fats: {{model.item.fats}}</p>

    <p>Sugars: {{model.item.sugars}}</p>

    <p>Proteins: {{model.item.proteins}}</p>

    <a class="btn btn-primary btn-block"
       ng-click="model.addFavoriteForUser()">Add Favorite</a>

</div>