

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-header col-xs-12 pull-left no-left-margin">
            <a class="navbar-brand pull-left">
                Search
            </a>
            <a href="#/user/{{model.user._id}}"
               class="navbar-link pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>


<div class="container">

    <!-- http://bootsnipp.com/snippets/featured/stylish-input-using-icon-font -->
    <div class="row">
        <div class="input-group">
            <input ng-model="model.query"
                   type="text"
                   class="form-control"
                   placeholder="Search">
        </div>
    </div>
    <a ng-click="model.findUsersForSearch()"
       class="btn btn-primary btn-block">Search Users</a>
    <a ng-click="model.findItemsForSearch()"
       class="btn btn-primary btn-block">Search Items</a>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <!-- SEARCH RESULTS will populate here -->
    <!-- user results -->
    <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="myUser in model.queryUserResults">
            <a href="#/user/public/{{myUser._id}}">{{user.username}}</a>
        </li>
    </ul>
    <!-- item results -->
    <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="item in model.queryItemResults">
            <a href="#/user/{{model.user._id}}/item/{{item._id}}">{{item}}</a>
        </li>
    </ul>

</div>