input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 64px;
    padding-bottom: 438px;
}

html,body {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.top-buffer {
    margin-top: 10px;
}