
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-10">

            <div class="navbar-header pull-left">
                <a class="navbar-brand pull-left">
                    Widget Edit
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div ng-switch="model.widget.type">

        <div ng-switch-when="HEADER">
            <ng-include src="'views/widget/templates/widget-HEADER-edit.view.client.html'"></ng-include>

            <a ng-click="model.updateWidget()"
               class="top-buffer btn btn-primary btn-block">Update</a>

            <a ng-click="model.deleteWidget()"
               class="btn btn-danger btn-block">Delete</a>

            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="btn btn-warning btn-block">Cancel</a>
        </div>

        <div ng-switch-when="HTML">
            <ng-include src="'views/widget/templates/widget-HTML-edit.view.client.html'"></ng-include>

            <a ng-click="model.updateWidget()"
                class="top-buffer btn btn-primary btn-block">Update</a>

            <a ng-click="model.deleteWidget()"
               class="btn btn-danger btn-block">Delete</a>

            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="btn btn-warning btn-block">Cancel</a>
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/templates/widget-IMAGE-edit.view.client.html'"></ng-include>

            <a ng-click="model.deleteWidget()"
               class="btn btn-danger btn-block">Delete</a>

            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="btn btn-warning btn-block">Cancel</a>
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src="'views/widget/templates/widget-YOUTUBE-edit.view.client.html'"></ng-include>

            <a ng-click="model.updateWidget()"
                class="top-buffer btn btn-primary btn-block">Update</a>

            <a ng-click="model.deleteWidget()"
               class="btn btn-danger btn-block">Delete</a>

            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="btn btn-warning btn-block">Cancel</a>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <!--
        <div class="col-xs-1">
            <div class="navbar-text pull-left">
                <a class="navbar-link pull-left" href="">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </div>
        </div>
        -->
        <!--
                <div class="col-xs-9">
                    <div class="navbar-text pull-left">
                        <a class="navbar-link pull-left" href="">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </div>
                </div>
        -->
        <div class="navbar-text col-xs-1 pull-right">
            <a class="navbar-link pull-right" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>