
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-9">
            <div class="navbar-text pull-left">
                <a class="navbar-link pull-left no-left-margin" href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-header pull-left">
                <a class="navbar-brand pull-left" href="#">
                    Widget Edit
                </a>
            </div>
        </div>

        <div class="navbar-text col-xs-1 pull-right">
            <a class="navbar-link pull-right" href="widget-list.view.client.html">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>


<div class="container">
    <form>
        <div class="form-group">
            <label for="widget-name">Widget Name</label>
            <input ng-model="model.widget.widgetName"
                   type="text"
                   class="form-control"
                   id="widget-name"
                   placeholder="Sample Name">
        </div>

        <div class="form-group">
            <label for="widget-text">Widget Text</label>
            <input ng-model="model.widget.widgetText"
                   type="text"
                   class="form-control"
                   id="widget-text"
                   placeholder="Sample Text">
        </div>

        <div class="form-group">
            <label for="widget-url">Widget URL</label>
            <input ng-model="model.widget.widgetURL"
                   type="text"
                   class="form-control"
                   id="widget-url"
                   placeholder="https://youtu.be/uLWLashCXHE">
        </div>

        <div class="form-group">
            <label for="widget-width">Widget Width</label>
            <input ng-model="model.widget.widgetWidth"
                   type="text"
                   class="form-control"
                   id="widget-width"
                   placeholder="SampleWidth">
        </div>
    </form>

    <a class="btn btn-danger btn-block"
       href="widget-list.view.client.html">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-text col-xs-1 pull-right">
                <a class="navbar-link pull-right" href="/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>