<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>

    <title>Widget Chooser</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-left">
                <a class="navbar-link pull-left" href="widget-list.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-header pull-left">
                <a class="navbar-brand pull-left" href="#">
                    Choose Widget
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row top-buffer">
        <div class="col-xs-12">
            <a href="widget-heading.html">
                Header
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-12">
            <a href="#">
                Label
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-12">
            <a href="#">
                HTML
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-12">
            <a href="#">
                Text Input
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-12">
            <a href="#">
                Link
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-12">
            <a href="#">
                Button
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-12">
            <a href="widget-image.html">
                Image
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-12">
            <a href="widget-youtube.html">
                YouTube
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-12">
            <a href="#">
                Data Table
            </a>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-12">
            <a href="#">
                Repeater
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-text col-xs-1 pull-right">
                <a class="navbar-link pull-right" href="../views/user_pages/profile.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

</body>
</html>