<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>

    <title>Widget List</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-10">
            <div class="navbar-text pull-left">
                <a class="navbar-link pull-left" href="../views/page_pages/page-list.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-header pull-left">
                <a class="navbar-brand pull-left" href="#">
                    Widgets
                </a>
            </div>
        </div>

        <div class="navbar-text col-xs-1 pull-right">
            <a class="navbar-link pull-right" href="widget-chooser.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div>
        <div class="jga-toolbar">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>Soccer News</h1>
    </div>
    <div>
        <div class="jga-toolbar">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>Harry Kane Says Leaving Spurs Now Would Be Stupid</h3>
    </div>
    <div>
        <div class="jga-toolbar">
            <a href="widget-image.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <img width="100%" src="http://i.imgur.com/w1xIlIa.png">
    </div>
    <div>
        <div class="jga-toolbar">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <p>At Tottenham Hotspur, it's typical for star players to be sold every summer, as the club cannot satisfy the ambition of players of such high quality. But this summer, the club will look to keep hold of its most highly-rated youngsters including Kane, Dele Alli, and Eric Dier.</p>
    </div>
    <div>

        <div class="jga-toolbar">
            <a href="widget-youtube.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/bIelBmmZdhE"
                    frameborder="0"
                    allowfullscreen></iframe>
        </div>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-1">
            <div class="navbar-text pull-left">
                <a class="navbar-link pull-left" href="#">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </div>
        </div>

        <div class="col-xs-9">
            <div class="navbar-text pull-left">
                <a class="navbar-link pull-left" href="#">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>
        </div>

        <div class="navbar-text col-xs-1 pull-right">
            <a class="navbar-link pull-right" href="../views/user_pages/profile.html">
            <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

</body>
</html>