
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a class="navbar-link" href="#/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Websites
                </a>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="navbar-header">
                <a class="navbar-brand no-left-padding no-left-margin">
                    New Website
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">

    <div class="col-sm-4 hidden-xs">

        <div ng-repeat="website in model.websites">

            <div class="row top-buffer">
                <div class="col-xs-10">
                    {{website.name}}
                </div>
                <div class="col-xs-2">
                    <a class="pull-right"
                       href="">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>

        </div>

    </div>



    <div class="col-sm-8">

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <div class="form-group">
            <label for="website-name">Website Name</label>
            <input ng-model="model.website.name"
                   type="text"
                   placeholder="Website Name"
                   class="form-control"
                   id="website-name"/>
        </div>

        <div class="form-group">
            <label for="website-description">Website Description</label>
            <textarea ng-model="model.website.description"
                      placeholder="Website Description"
                      class="form-control"
                      id="website-description"
                      rows="3"></textarea>
        </div>

        <a ng-click="model.createWebsite()"
           class="btn btn-primary btn-block top-buffer">Create</a>

        <a href="#/user/{{model.userId}}/website"
           class="btn btn-warning btn-block top-buffer">Cancel</a>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-text col-xs-1 pull-right">
                <a class="navbar-link pull-right" href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>