
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-header col-xs-10 pull-left no-left-margin">
            <a class="navbar-brand pull-left">
                Favorites
            </a>
        </div>

        <div class="navbar-text col-xs-1 pull-right">

            <a href="#/user/{{model._id}}"
               class="navbar-link pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>

        <div class="navbar-text col-xs-1 pull-right">

            <a href="#/user/{{model._id}}/search"
               class="navbar-link pull-right">
                <span class="glyphicon glyphicon-search"></span>
            </a>

        </div>

    </div>
</nav>


<div class="container">

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <ul>
        <div ng-repeat="fave in model.user.items">
            <a href="#/user/{{model._id}}/item/{{fave}}">
                <li class="list-group-item"
                    ng-repeat="fave in model.user.items">

                    {{fave}}

                    <a ng-click="model.deleteFavorite(fave)"
                       class="navbar-link pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </li>
            </a>
        </div>
    </ul>

</div>