<div class="container">

    <h1>Register</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <input ng-model="model.user.username"
           type="text"
           class="form-control"
           placeholder="Username"/>

    <input ng-model="model.user.email"
           type="text"
           class="form-control"
           placeholder="Email"/>

    <input ng-model="model.user.password"
           type="password"
           class="form-control"
           placeholder="Password"/>

    <input ng-model="model.user.password2"
           type="password"
           class="form-control"
           placeholder="Verify Password"/>

    <div class="row top-margin">
        <div class="col-xs-6">
            <a ng-click="model.registerUser()"
               class="btn btn-primary btn-block">Register User</a>

        </div>
        <div class="col-xs-6">
            <a ng-click="model.registerAdmin()"
               class="btn btn-primary btn-block">Register Admin</a>

        </div>
    </div>

    <a class="btn btn-warning btn-block top-margin"
       href="#/login">Login</a>

</div>