
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-9">

            <div class="navbar-header col-xs-8 pull-left">
                <a class="navbar-brand pull-left">
                    New Page
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="form-group">
        <label for="page-name">Page Name</label>
        <input ng-model="model.page.name"
               type="text"
               class="form-control"
               placeholder="Page Name"
               id="page-name">
    </div>
    <div class="form-group">
        <label for="page-title">Page Title</label>
        <input ng-model="model.page.title"
               type="text"
               class="form-control"
               placeholder="Page Title"
               id="page-title">
    </div>

    <div class="form-group">
        <label for="page-description">Page Description</label>
        <textarea ng-model="model.page.description"
                  type="text"
                  class="form-control"
                  id="page-description"
                  placeholder="Page Description"
                  rows="3"></textarea>
    </div>

    <a ng-click="model.create()"
       class="btn btn-primary btn-block top-buffer">Create</a>

    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
       class="btn btn-warning btn-block top-buffer">Cancel</a

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-text col-xs-1 pull-right">
                <a class="navbar-link pull-right"
                   href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>