
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-8">
            <div class="navbar-text pull-left">
                <a class="navbar-link pull-left no-left-margin" href="#/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-header pull-left">
                <a class="navbar-brand pull-left">
                    Pages
                </a>
            </div>
        </div>

        <div class="navbar-text col-xs-1 pull-right">
            <a class="navbar-link pull-right" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div ng-repeat="page in model.pages">

        <div class="row top-buffer">
            <div class="col-xs-9">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                    {{page.name}}
                </a>
            </div>
            <div class="col-xs-1 pull-right">
                <a class="navbar-link pull-right"
                   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </div>

    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-text col-xs-1 pull-right">
                <a class="navbar-link pull-right"
                   href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>